.pokemon-card
  background: #eaeaea
  padding: 15px
  border: 1px solid #b3b3b3
  border-radius: 8px
  box-shadow: 0px 1px 6px #bfbfbf
  margin: 10px
  border-top: 6px solid blue
  border-bottom: 6px solid blue
  font-family: "Arial", sans-serif
